<div class="btn-group" role="group" aria-label="Switch languages">
  <%= for {k, v} <- %{"en-US": "English", "zh-Hans": "简体中文", "zh-Hant": "繁體中文"} do %>
    <% h = AloeWeb.PageHelper.path_with_locale(@path, k) %>
    <%= if k == String.to_atom(@locale) do %>
      <a href={"#{h}"} class="btn btn-outline-primary">
        <%= v %>
      </a>
    <% else %>
      <a href={"#{h}"} class="btn btn-outline-secondary">
        <%= v %>
      </a>
    <% end %>
  <% end %>
</div>
