<div class="btn-group" role="group" aria-label="Switch languages">
  <button type="button" class="btn btn-outline-secondary">English</button>
  <button type="button" class="btn btn-outline-secondary">简体中文</button>
</div>
